html {
    height: 100%;
    font-size: 10px;

    @media (max-width: 991.98px) {
        font-size: 10px !important;
    }
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $firstColor;
    font-size: $font-size;
    line-height: 1.5;
    color: #fff;
}


._page {
    flex: 1 1 auto;
}

// ================

